matrix:
  include:
    - language: python
      python: 3.8
      script: ./test_parser.sh python parser_python.py

    - language: ruby
      script: ./test_parser.sh ruby parser_ruby.rb

    - language: go
      script: ./test_parser.sh go run parser_go/main.go

    # nim
    - language: c
      os: linux
      compiler: gcc
      install:
        - export CHOOSENIM_NO_ANALYTICS=1
        - curl https://nim-lang.org/choosenim/init.sh -sSf > init.sh
        - sh init.sh -y
        - export PATH=~/.nimble/bin:$PATH
        - echo "export PATH=~/.nimble/bin:$PATH" >> ~/.profile
        - choosenim stable
      script:
        - nim c -d:release parser_nim.nim
        - ./test_parser.sh ./parser_nim
